[user]
  name = Andrey Arefiev
  email = arefiev@gmail.com
[core]
  editor = vim
  mergeoptions = --no-edit
  autocrlf = input
  excludesfile = ~/.gitignore_global
[color]
  ui = true
  diff = true
[alias]
  up   = pull --rebase
  put  = push origin HEAD
  st   = status
  ci   = commit
  cim  = commit -m
  br   = branch
  co   = checkout
  go   = checkout
  pf   = push --force-with-lease
  mff  = merge --ff-only
  d    = diff
  dc   = diff --cached
  lg   = log -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  new  = checkout -b
  del  = branch -D ; delete local branch
  rmbr = push origin --delete ; delete remote branch like 'git push origin :<branchName>'
  last = log -n 1
  cp   = cherry-pick
  latest = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
  who = shortlog -s --
[push]
  default = simple
[format]
  pretty = oneline
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[credential]
	helper = osxkeychain
